// colors
$color-1: $primary; // Light Blue
$color-2: $dark; // Dark Blue
$color-3: $success; // Pink
$color-4: $danger; // Off Light Blue
$color-5: $info; // Purple
$color-6: #2A3462; // Navy
$color-7: #ffef98; //Yellow

$white: #fff;
$black: #000;
$font-color: #242424; 

// Header Spacing
$header-height-small: 80px;
$header-height: 100px;

// Fonts 
$FontAwesome: 'Font Awesome 5 Pro';
$primary-font: 'Work Sans',sans-serif;
$headline-font:	'Work Sans',sans-serif;

$Light-Font:	'Work Sans',sans-serif;
$Bold-Font:	'Work Sans',sans-serif;
$Regular-Font:	'Work Sans',sans-serif;

$Light: 300;
$Regular: 400;
$Semibold: 600;
$Bold: 700;

$animation-duration: 0.7s;


//Padding
$padding-small: 25px;
$padding-medium: 45px;
$padding-large: 60px;




// // TO MOVE
// .pd-top-sm {
//     padding-top: $padding-small;
// }

// .pd-top-md {
//     padding-top: $padding-medium;
// }

// .pd-top-lg {
//     padding-top: $padding-large;
// }

// .pd-sides-sm {
//     padding: 0 $padding-small;
// }

// .pd-sides-md {
//     padding: 0 $padding-medium;
// }

// .pd-sides-lg {
//     padding: 0 $padding-large;
// }