footer {
    img {
        max-width: 300px;
        height: auto;
    }
    h4,
    a {
        color: white;
        font-weight: 600;
        text-transform: uppercase;
    }
    .footer-menu {
        li {
            text-align: right;
            padding-bottom: 1em;
        }
    }
    .contact-insights {
        border-left: 2px solid $primary;
        padding-left: 1em;
        color: white;
        h5 {
            font-weight: 600;
        }
    }
}
#footer-cta {
    h2 {
        color: $primary;
        font-size: 3.2rem;
        font-weight: 900;
    }
    p {
        color: white;
        max-width: 80%;
        margin: 1em auto;
    }
    &:after {
		background-image: url(../../images/svg/open-dialogue-bottom.svg);
		content: '';
		width: 250px;
		height: 250px;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
        bottom: -67px;
        right: 30px;
        background-size: contain;
        z-index: 2;
    }
    &:before {
		background-image: url(../../images/svg/open-dialogue-top.svg);
		content: '';
		width: 250px;
        height: 167px;
		display: block;
		background-repeat: no-repeat;
		position: absolute;
        top: -126px;
        left: 0px;
        background-size: contain;
        z-index: 2;
	}
}