#footer-cta {
    #gform_fields_1 {
        display: flex;
        li {
            width: 50%;
        }
        input {
            width: 100%;
        }
        
    }
    form {
        display: flex;
        label,
        .gform_heading {
            display: none;
        }
        .gform_body {
            width: 90%;
        }
        .gform_footer {
            width: 10%;
            position: relative;
            &:hover {
                span {
                    margin-left: 10px;
                }
            }
            input {
                position: absolute;
                opacity: 0;
                height: 100%;
                z-index: 2;
            }
            span {
                position: absolute;
                //z-index: 2;
                top: 54%;
                transform: perspective(1px) translateY(-50%);
                &:after {
                    background-image: url(../../images/svg/arrow-right-primary.svg);
                    content: '';
                    width: 67px;
                    height: 37px;
                    display: block;
                    background-repeat: no-repeat;
                    // position: absolute;
                    // bottom: -120px;
                    // right: 30px;
                    background-size: contain;
                }
            }
        }
    }
}
textarea, [type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]) {
	padding: 1.5em 1em!important;
	font-size: 1em;
	background: white;
	color: $dark;
	// @include border-radius(50px);
    @include transition-duration(1.4s);
    @include placeholder {
    	color: lighten($font-color, 40%);
    	text-transform: capitalize;
	}
	outline: none;
	border: 0px none;
	height: 48px;
	width: 100%;
	-webkit-appearance: none;
		-moz-appearance: none; 
}


.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
    padding-top: 0!important;
}

.gform_wrapper div.validation_error {
    background: white!important;
    padding: 1em!important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    text-align: center;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: $danger!important;
}