#hero {
    .container {
        z-index: 1;
    }
    h1 {
        font-size: 5rem;
        span {
            display: inline-block;
            &:nth-child(1) {
                span {
                    width: 16px;
                    height: 16px;
                    background-color: $primary;
                    margin-left: 10px;
                }
            }
            &:nth-child(3) {
                span {
                    width: 16px;
                    height: 16px;
                    background-color: $success;
                    margin-left: 10px;
                }
            }
            &:nth-child(5) {
                span {
                    width: 16px;
                    height: 16px;
                    background-color: $danger;
                    margin-left: 10px;
                }
            }
        }
    }
}
#video-bg {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
  }
  #video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    #video-bg > video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-bg > video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    #video-bg > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
.hero-insights {
    width:100%;
    display: flex;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: -39px;
    &:before {
        background-image: url(../../images/svg/insights.svg);
        content: '';
        width: 400px;
        height: 200px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -94px;
        right: -44px;
        background-size: contain;
        z-index: 0;
    }
    .hi-right {
        width: 65%;
        position: relative;
        .boxy {
            text-transform: inherit;
            width: 100%;
            display: block;
            background-color: white;
            padding: 1.5em 2em;
            p {
                font-family: $family-primary;
                margin-bottom: 10px;
            }
            svg {
                stroke: $grey;
            }
        }
    }
    .hi-left {
        width: 35%;
        
    }
    .insight-title {
        position: absolute;
        background: $dark;
        padding: .5em .7em;
        top: -39px;
        font-weight: 800;
        color: $primary;
    }
}
.boxy {
    border-radius: 0px;
    text-transform: uppercase;
    width: 170px;
    height: 170px;
    white-space: initial;
    justify-content: left;
    text-align: left;
    align-items: unset;
    padding: 1em;
    font-family: $family-secondary;
    svg {
        stroke: white;
        width: 34px;
        position: absolute;
        bottom: 13px;
        right: 27px;
        @include transition (all 0.4s ease-in-out); 
    }
    &:hover {
        background-color: white!important;
        color: $dark!important;
        svg {
            stroke: $dark;
            right: 17px;
        }
    }
}
#intro {
    padding-bottom: 16em;
    padding-top:8em;
    &:before {
        background-image: url(../../images/svg/accelerate-results-top.svg);
        content: '';
        width: 400px;
        height: 300px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -2px;
        background-size: contain;
        z-index: 0;
    }
    .intro {
        background-color: white;
        padding: 3rem 6rem 3rem 3rem;
        &:after {
            background-image: url(../../images/svg/accelerate-results.svg);
            content: '';
            width: 250px;
            height: 273px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            right: -250px;
            background-size: contain;
            z-index: 2;
        }
        
    }
    h2 {
        font-size: 4rem;
    }
    img {
        position: absolute;
        bottom: 0;
        width: 67%;
        height: auto;
        right: 0;
    }
}
.button.text-link {
    font-family: $family-secondary;
    text-transform: uppercase;
    color: $primary;
    svg {
        stroke: $primary;
        width: 27px;
        @include transition (all 0.4s ease-in-out); 
        transform: translate(1em, 0);
    }
    &:hover {
        background-color: white;
        color: $primary;
        svg {
            transform: translate(1.5em, 0);
        }
    }
}
#documents {
    .container {
        position: relative;
        z-index: 1;
    }
    a {
        &:hover {
            .card {
                background-color: $dark;
            }
            .title,
            p {
                color: white;
            }
            svg {
                stroke: $primary;
                transform: translate(1em, 0);
            }
        }
    }
    .card {
        height: 100%;
        @include transition (all 0.4s ease-in-out); 
        .subtitle {
            text-transform: uppercase;
            font-family: $family-secondary;
            color: $primary;
        }
        .title {
            font-weight: 800;
        }
    }
    .date {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $success;
        color: white;
        padding: .4em .8em;
        font-size: 12px;
        font-weight: 600;
    }
    svg {
        position: absolute;
        right: 2em;
        bottom: 1em;
        width: 37px;
        stroke: $grey;
        transform: translate(0, 0);
    }
    &:before {
        background-image: url(../../images/svg/document-top.svg);
        content: '';
        width: 296px;
        height: 300px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: -2px;
        background-size: contain;
        z-index: 0;
    }
    &:after {
        background-image: url(../../images/svg/document-bottom.svg);
        content: '';
        width: 76%;
        height: 448px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: -2px;
        background-size: contain;
        z-index: 0;
    }
}
#numbers {
    .num-box {
        height: 100%;
    }
    .num-box-top {
        background-color: white;
        padding: 3em 3em 6em 3em;
        z-index: 2;
        height: 100%;
        h3 {
            font-size: 9.5em;
            line-height: 1.2;
        }
        h4 {
            font-size: 1.5em;
        }
        svg {
            position: absolute;
            right: 3em;
            bottom: 2em;
            width: 27px;
        }
        &:hover {
            .num-box-bottom {
                z-index: 3;
                opacity: 1;
                visibility: visible;
            
            }
        }
    }
    .num-box-bottom {
        z-index: 1;
        position: absolute;
        top: 0em;
        right: 0em;
        bottom: 0em;
        left: 0em;
        opacity: 0;
        visibility: hidden;
        background-color: $dark;
        @include transition (all 0.4s ease-in-out); 
        padding: 3em 3em 6em 3em;
        .button {
            color: $primary;
            text-align: left;
            position: absolute;
            display: block;
            bottom: 2em;
            font-family: $family-secondary;
            text-transform: uppercase;
            right:0;
            left: 0;
            &:hover {
                background-color: $dark;
            }
            span {
                margin-left: 2em;
            }
            svg {
                stroke: $primary;
                bottom: 3px;
                width: 34px;
                right: 2em;
            }
        }
    }
}
.ac {
    &:before {
        background-image: url(../../images/svg/advanced-capabilities.svg);
        content: '';
        width: 400px;
        height: 400px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: -50px;
        left: -95px;
        background-size: contain;
        z-index: 0;
    }
    svg {
        position: absolute;
        right: 2em;
        bottom: 1em;
        width: 37px;
        stroke: $grey;
        transform: translate(0, 0);
    }
    a {
        &:hover {
            svg {
                stroke: $primary;
                transform: translate(1em, 0);
            }
        }
    }
}
#partner {
    h2, p {
        max-width: 400px;
    }
    .partner-box {
        background-color: $dark;
        width: 49%;
        display: block;
        padding-bottom: 49%;
        position: absolute;
        top: 0;
        @include transition (all 0.4s ease-in-out); 

        &:first-child {
            left: 0;
        }
        &:nth-child(2) {
           right: 0;
        }
        h3 {
            color: white;
            font-family: $family-primary;
            font-weight: 800;
            text-transform: initial;
            font-size: 1.2em;
        }
        &:hover {
            background-color: $dark!important;
        }
    }
    .partner-box-ovelay {
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: $primary 0px solid;
        opacity: 0;
        z-index: -1;
        @include transition (all 0.4s ease-in-out); 
        &.is-active {
            border-width: 7px;
            opacity: 1;
            z-index: 5;
            right: 0;
            padding: 2em;
            h3 {
                color: $dark;
                font-family: $family-primary;
                font-weight: 800;
                text-transform: initial;
                font-size: 1.2em;
            }
        }
    }
    .pbo {

    }
    .button.text-link {
        padding-left: 0;
        margin-top: 40px;
        font-family: $family-primary;
        font-weight: 800;
    }
}
#proven {
    padding-left: 0;
    .proven-results {
        background-color: $blackalt;
        padding:1.5em 4em 1em;  
        p {
            max-width: 700px;
            padding-left: 10em;
        }
    }
}
#leadership {
    &:before {
        background-image: url(../../images/svg/leadership-team-top.svg);
        content: '';
        width: 300px;
        height: 300px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        background-size: contain;
        z-index: 0;
    }
    .ld-copy {
        max-width: 400px;
    }
    .leadership-team {
        padding: 4em 5em 5em 2em;
        position: relative;
        z-index: 1;
        
        &:after {
            background-image: url(../../images/svg/leadership-team-bottom.svg);
            content: '';
            width: 372px;
            height: 195px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -195px;
            left: -57px;
            background-size: contain;
            z-index: 0;
        }
    }
    .card {
        height: 100%;
        // padding-bottom: 3em;
        overflow: hidden;
        z-index: 3;
        position: relative;
    }
    .leadership-content-mobile {
        display: none;
    }
    .content {
        position: absolute;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        color: #FFF;
        transition: all 1s;
        left: 0;
        right: 0;
        padding: 1.5rem;
        opacity: .9;
        p {

        }
        &.close {
            bottom: -100%;
            height: 0;
        }
    }
    .title.is-5 {
        margin-bottom: 14px;
    }
    svg {
        stroke: $primary;
        width: 34px;
        position: absolute;
        bottom: 13px;
        right: 27px;
        @include transition (all 0.4s ease-in-out); 
    }
}
#difference {
    h2 {
        max-width: 400px;
    }
    p {
        max-width: 400px;
    }
    .button.text-link {
        padding-left: 0;
        margin-top: 40px;
        font-family: $family-primary;
        font-weight: 800;
    }
    .difference-img {
        &:after {
            background-image: url(../../images/svg/difference.svg);
            content: '';
            width: 372px;
            height: 195px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -55px;
            left: -107px;
            background-size: contain;
            z-index: 0;
        }
    }
}
#maps {
    padding: 0;
    display: flex;
    #accordion {
        width: 20%;
    }
    #map-container {
        width: 80%;
    }
}

#accordion {
    .location-title {
        // margin-left: 30px;
        color: white;
    }
    .tab-header-and-content {
    }
    
	.question {
		background: $dark;
        padding: 20px 0px 20px 30px;
	    width: 100%;
	    position: relative;
        color: white;
        font-weight: 800;
        font-size: 1.4em;
	    // margin: 0px 0px 1px 30px;
	    &:after {
            background-image: url(../../images/svg/plus-white.svg);
            content: '';
            width: 15px;
            height: 15px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 29px;
            right: 11px;
            background-size: contain;
            z-index: 6;
        }
		

		&.open {
			// background: $primary;
            
			
		}
		&:hover {
			cursor: pointer;
			cursor: hand;
		}
		
		
    }


    .accordion-content {
        height: 1px;
    }
    .accordion-tabs {
        height: 100%;
        overflow: hidden;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100%;
            flex-direction: column;
            background: white;
            li {
                &.active {
                    display: flex;
                    flex: 1 1 auto;
                    background: $primary;
                    .question {
                        background: $primary;
                    }
                    .accordion-content {
                        height: 100%;
                        border-top: 1px solid white;
                        padding: 10px 0px;
                        margin-left: 30px;
                    }
                }
                .wrap {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: 100%;
                }
            }
        }
    }
}
.acf-map {
    background-color: #35383C;
    > div {
        background-color: #35383C!important;
    }
}
