// MIN WIDTH
// MIN 450
@include MQ(S) {

}
// MIN 768 
@include MQ(M) {

}
// MIN 960 
@include MQ(L) {

}
// MIN 1290
@include MQ(BIG) {
    #intro {
        padding-bottom: 17em;
    }
}
@include MQ(STUPID) {
    #intro {
        padding-bottom: 26em;
        img {
            width: 49%;
        }
    }
}

////////////////////////////////////// MAX WIDTH //////////////////////////////////////
//1290
@include MQ(XLXL) {
    #intro .intro {
        padding: 3rem;
    }
    
    
}
//1088
@include MQ(XL) {
    #intro h2 {
        font-size: 3rem;
    }
    #footer-cta:after {
        right: -26px;
    }
}

//960
@include MQ(LL) {
	.vesst-auto-hide-header .logo a, .vesst-auto-hide-header .logo img {
        height: 70px;
    }
    #footer-cta:after {
        bottom: -200px;
        width: 200px;
    }
    #vesst-navigation {
        display: none;
    }
    .vesst-auto-hide-header.nav-open {
        #vesst-navigation {
            display: block;
        }
    }
    #leadership {
        .title.is-1 {
            font-size: 3em;
        }
    }
}
//768
@include MQ(MM) {
    footer .footer-menu li,
    #footer-column-menu {
        text-align: center;
    }
    footer .contact-insights {
        border-left: 0px none;
        border-top: 2px solid $primary;
        padding-top: 2em;
    }
    #maps {
        #accordion {
            width: 100%;
        }
        #map-container {
            display: none;
        }
    }
    #leadership {
        .card-content.leadership-click,
        svg,
        .content {
            display: none;
        }
        .leadership-content-mobile {
            display: block;
            width: 50%;
            padding: 1.5em;
            position: relative;
        }
        .columns.is-variable.is-centered.is-multiline {
            .column {
                display: flex;
                &:nth-child(even) {
                    // flex-direction: column-reverse;
                }
            }
            .card {
                width: 50%;
            }
        }
    }
    #partner {
        .partner-box-ovelay {
            img {
                display: none;
            }
        }
    }
    .column.is-3.is-offset-2.content {
        text-align: center;
    }
    #leadership-order {
        display: flex;
        flex-direction: column-reverse;
    }
    #leadership .ld-copy {
        width: 100%;
    }
}
//767
@include MQ(PIXEL) {
	.title.is-1 {
        font-size: 3em;
    }
}
//650
@include MQ(SM) {
    #footer-cta form .gform_footer,
    #footer-cta form .gform_body,
    #footer-cta form,
    #footer-cta #gform_fields_1 {
        display: block;
        width: 100%;
    }
    #footer-cta:after {
        bottom: -150px;
    }
    #footer-cta {
        padding-bottom: 8em;
        .gform_footer {
            min-height: 3em;
            input {
                left: 0;
                right: 0;
                margin: 0px auto;
            }
            span {
                left: 0;
                right: 0;
                margin: 0px auto;
                width: 53px;
            }
        }
        #gform_fields_1 {
            li {
                width: 100%;
            }
        }
    }
    #partner {
        .partner-relative {
            min-height: 200px;
        }
    }
    #leadership .columns.is-variable.is-centered.is-multiline .column {
        display: block;
    }
    #leadership .leadership-content-mobile,
    #leadership .columns.is-variable.is-centered.is-multiline .card{
        width: 100%;
    }
    
}
//480
@include MQ(SS) {
	#partner {
        .partner-relative {
            min-height: 300px;
        }
    }
    .feature-box .boxy {
        right: 0px;
    }
    .feature-box .service-feature {
        margin-left: -50px;
    }
}