@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,600,800');

// @import "bourbon", "neat";

// Reset
@import "../bulma/sass/utilities/_all";
// Bulma Framework - Variables
$primary: #109BC5;
$primary-invert: findColorInvert($primary);
$twitter: #109BC5;
$twitter-invert: findColorInvert($twitter);
$dark: #202E46;
$light: #D6D6D6;
$info: #2259E7;
$success: #97B934;
$white: #fff;
$black: #000000;
$danger: #FF6600;
$warning: #ffdd57;
$grey: #ACACB3;
$blackalt: #35383C;
$light-invert: findColorInvert($light);
$dark-invert: findColorInvert($dark);
$info-invert: findColorInvert($info);
$success-invert: findColorInvert($success);
$danger-invert: findColorInvert($danger);
$warning-invert: findColorInvert($warning);
$input-background-color: $light;
$navbar-breakpoint: $tablet;
$tabs-link-active-color: $black;
$tabs-link-active-border-bottom-color: $black;

$column-gap: .25rem;

@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixin'; // mixin
@import 'partials/layout'; // responsive grid and media queries


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$family-sans-serif:  'Open Sans', sans-serif;
$family-primary: 'Open Sans', sans-serif;
$family-secondary: 'Open Sans Condensed', sans-serif;
// Buttons 
$button-padding-horizontal: 1.2em;
// columns 
$column-gap: 1.7rem;
// box
$box-radius: 0;
$box-padding: 3rem;
$box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
// navbar
$navbar-item-color: white;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;


// Bulma Framework
@import "../bulma/sass/layout/_all";
@import "../bulma/sass/components/_all";
@import "../bulma/sass/elements/_all";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/grid/_all.sass";
@import "../bulma/sass/form/_all.sass";


$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}
.relative {position: relative;}
a {@include transition (all 0.4s ease-in-out); text-decoration: none;
	&:hover {text-decoration: none; cursor: pointer; }
}
.cover {
	background-position: center center;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
				background-size: cover;
}
.title.is-1 {
    font-size: 4em;
}
footer,
#main-content {
    overflow: hidden;
}
// // Site CSS
// @import 'blocks/blocks.scss';
// @import 'wordpress.scss';
// @import 'fonts.scss'; 
// @import 'structure.scss'; 
@import 'nav.scss'; 
@import 'home.scss'; 
@import 'services.scss'; 
@import 'footer.scss'; 
@import 'forms.scss'; 
@import 'magnific.scss'; 
// @import 'blog.scss'; 
// @import 'plugins.scss';
// // @import 'steps.scss';
// @import 'button.scss';
// // @import 'tables.scss';
// // @import 'gutenberg.scss';

// // SLICK
// @import 'slick.scss';
// @import 'slick-theme.scss';
// // @import 'gallery_slider.scss';

// Magnific
// @import 'magnific-popup.scss';

// Font Awesome
// @import 'fontawesome_scss/fontawesome.scss';
// @import 'fontawesome_scss/solid.scss';
// @import 'fontawesome_scss/brands.scss';
.image.is-4by3 {
    padding-top: 61%!important;
    img {
        height: auto!important;
    }
}
#navbarInsight {
	.libraryTypes {
        color: $dark;
        font-weight: 700;
        text-transform: uppercase;
        padding: .5rem 4rem .5rem 0;
        &:hover {
            color: $primary;
        }
        &.selected {
            color: $primary;
        }
	}
}
.insight-cat {
    text-transform: uppercase;
    font-family: $family-secondary;
    width: 100px;
    color: $primary;
}
hr {
    background-color: $primary;
    height: 1px;
}
.post-footer {
    .button.is-outlined {
        border-radius: 0px;
        font-weight: 600;
        text-transform: uppercase;
        height: 3.5em;
        .icon:last-child:not(:first-child) {
            margin-left: 1.3em;
            margin-right: .01em;
        }
        i {
            font-size: 1.6em;
        }
    }
}
.blog-feature,
.blog-feed {
    width: 49%;
    height: 100%;
    img {
        -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
    h3 {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 20px;
    }
    &.is-icon {
        margin: 0 2em 0 0;
        background: $dark;
        padding: 29px;
        text-align: center;
        height: 100%;
        min-height: 230px;
        justify-content: center;
        align-items: center;
        display: flex;
        -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        i {
            color: $primary;
            font-size: 5em;
        }
    }
}
#query-results {
    article {
        display: flex;
    }
}
// Responsive
@import 'media-queries.scss'; 
