#hero {
    &.hero-services {
        z-index: 2;
    }
    .service-headline {
        background-color: $dark;
        padding: 4em;
        position: relative;
        bottom: -100px;
        h1, h2, h3 {
            font-weight: 800;
            width: 300px;
            color: white;
            font-size: 1.75em;
        }
        p {
            color: white;
        }
        hr {
            background-color: $primary;
        }
        &:before {
            background-image: url(../../images/svg/services-br.svg);
            content: '';
            width: 100px;
            height: 200px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -55px;
            right: -44px;
            background-size: contain;
            z-index: 0;
        }
        &:after {
            background-image: url(../../images/svg/services-tl.svg);
            content: '';
            width: 100px;
            height: 37px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            background-size: contain;
            z-index: 0;
        }
    }
}
#content {
    padding: 0;
}
.container {
    &.is-smaller {
        background-color: white;
        max-width: 960px;
        padding: 8em 4em 2em;
        -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        z-index: 1;
        bottom: -80px;
        padding-bottom: 50px;
        margin-top: -80px;
        h2 {
            width: 300px;
            line-height: 1.5em;
        }
    }
    &.is-alt {
        background-color: white;
        max-width: 960px;
    }
}
.service-box {
    height: 100%;
    text-align: center;
    background-color: $dark;
    padding: 1em 2em;
    img {
        height: 50px;
        margin-bottom: 20px;
    }
    a, span {
        display: table;
        width: 100px;
        margin: 0px auto;
        color: $primary;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.feature-box {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    .service-feature {
        margin-left: 100px;
        position: relative;
        z-index: 2;
        width: 300px;
        img {
            width: 100%;
        }
    }
    .boxy {
        position: absolute;
        z-index: 2;
        right: 50px;
        bottom: 40px;
        &:hover {
            background-color: $black!important;
            color: $primary!important;
        }
    }
    .feature-bg {
        background-color: #F7F7F7;
        border:1px solid #F0F0F0;
        position: absolute;
        bottom: 0;
        top: 20%;
        left: 0;
        right: 0;
    }
}
#whitepapers {
    article {
        display: flex;
        .blog-feature {
            width: 35%;
        }
        .blog-feed {
            margin-left: 10%;
            font-size: .9em;
            h3 {
                font-size: 1em;
                line-height: 1.5em;
            }
        }
    }
}
#videos {
    h3 {
        font-size: 1.2em;
        line-height: 1.6em;
        font-weight: 800;
    }
    a {
        color: $dark;
    }
}
#related {
    .column {
        margin-bottom: 0!important;
    }
    article {
        background-color: white;
        height: 100%;
        position: relative;
        svg {
            stroke: #ACACB3;
            width: 34px;
            position: absolute;
            bottom: 13px;
            right: 27px;
            @include transition (all 0.4s ease-in-out); 
        }
    }
    .feature-copy {
        padding: 3em 2em 6em;
    }
    a {
        color: $dark;
    }
    h3 {
        font-size: 1.2em;
        line-height: 1.6em;
        font-weight: 800;
        text-transform: uppercase;
        width: 200px;
    }
}
.card {
    height: 100%;
}
.title {
    word-break: normal;
}